/* Import de la font Syne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

h1,h2,h3,h4,h5,h6,p,a {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body * {
    font-family: 'Syne', sans-serif;     /* on applique la font "Syne" sur tous les éléments de la page */
}

.mainContainer {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.ContenaireHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
 }

.menuNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 10%;
  align-items: center;
}

.cssHeader {
  font-weight: 800;
  color: #3B8E46;
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width: 400px;
  min-width: 150px;
}

.cssFooter {
  font-weight: 800;
  color: #3B8E46;
  display: flex;
  justify-content: center;

}

li {
  list-style: none;
  min-width: 115px;
}

footer {
  text-align: center;
  background-color: white;
}

a {
  text-decoration: none;
  background-color: white;
}